@media (min-width: 800px) {
  .phone {
    display: none;
  }
  .desk {
    display: block;
  }
  nav {
    margin: 0 auto;
  }
  #hero {
    background-image: url("Img/general/1.png");
    height: 800px;
    width: 100%;
    background-size: cover;
    transform: translate(0, 0);
    aspect-ratio: 16/9;
  }
  h1 {
    font-size: 950%;
  }
  h2 {
    font-size: 150%;
  }
  .hidetitle {
    overflow: hidden;
    height: 170px;
  }

  #title {
    top: 75%;
  }

  #container {
    height: 450px;
    max-width: 800px;
    overflow: hidden;
    position: relative;
  }

  #C02 {
    height: 450px;
    position: absolute;
  }
  #C03 {
    height: 450px;
    position: absolute;
  }
  #C04 {
    height: 450px;
    position: absolute;
  }
  #C05 {
    height: 450px;
    position: absolute;
  }
  .air {
    height: 3rem;
    width: 100%;
  }
  .profilgrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .horselottie {
    position: absolute;
    left: 200px;
  }

  .headlottie {
    position: absolute;
    top: 137px;
    left: 838px;
  }

  .menu_bm {
    border-radius: 100px;
    width: 100%;
    justify-content: space-around;
    padding: 0.3rem 2rem 0.3rem 2rem;
  }

  .textright {
    text-align: right;
  }

  .textleft {
    text-align: left;
  }

  #backbutton {
    position: fixed;
    z-index: 10;
    text-align: center;
    top: 88%;
    left: 90%;
  }

  /* .left-decorative-line {
    border: none;
    height: 0.2rem; 
    background-color: #fff;
    margin: 0.5rem 0; 
    margin-bottom: 2rem;
    margin-left: auto;
    width: 200px;
  } */

  .dsec1,
  .dsec3,
  .dsec5,
  .dsec7 {
    padding: 1rem;
    height: 300px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    width: 830px;
    margin-bottom: 1rem;
  }

  .dsec2,
  .dsec4,
  .dsec6 {
    padding: 1rem;
    height: 300px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    width: 830px;
    margin-bottom: 2rem;
  }

  .section {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .unsectionL1,
  .unsectionR1,
  .unsectionL2,
  .unsectionR2,
  .unsectionL3,
  .unsectionR3,
  .unsectionL4,
  .unsectionR4,
  .unsectionL5,
  .unsectionR5,
  .unsectionL6,
  .unsectionR6,
  .unsectionL7,
  .unsectionR7 {
    position: absolute;
    transform: translate(-100%, 0);
  }
}

@media (min-width: 1600px) {
  .horselottie {
    position: absolute;
    left: 286px;
  }

  .headlottie {
    position: absolute;
    top: 178px;
    left: 994px;
  }
}
