@media (min-width: 800px) {
  .homebanner {
    height: 790px;
  }
  .phone {
    display: none;
  }
  .desk {
    display: block;
  }
  .prevexhi {
    width: 800px;
    margin: 0 auto;
  }
  .prevex {
    height: 375px;
    width: 267px;
    z-index: 8;
  }
  .kimbanner {
    transform: scale(1.5);
    position: absolute;
    right: 20%;
    top: 20%;
  }
  .homebanner {
    background-image: url("Img/Home/banner1.jpg");
    background-position: 0% 0%;
  }
  .prevexbox {
    height: 375px;
    width: 267px;
    overflow: hidden;
  }
  .slide {
    height: 190px;
    width: 190px;
    border-radius: 10px;
  }
  .slides {
    display: grid;
  }
  .prevex h2 {
    font-size: 170%;
  }
  .monoinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  header {
    margin: 0 auto;
  }
  .logo {
    margin-left: 2rem;
  }
  .gridkim {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .kimimg {
    width: 80%;
    margin: 0 auto;
  }
  .menu {
    margin-right: 1.5rem;
  }

  .menumono {
    margin-right: 1.5rem;
  }
}

@media (min-width: 1900px) {
  .homebanner {
    height: 950px;
  }
}
