@media (min-width: 800px) {
  .phone {
    display: none;
  }
  .desk {
    display: block;
  }
  nav {
    margin: 0 auto;
  }
  #hero {
    background-image: url("Img/general/1.png");
    height: 800px;
    width: 100%;
    background-size: cover;
    transform: translate(0, 0);
    aspect-ratio: 16/9;
  }
  h1 {
    font-size: 950%;
  }
  h2 {
    font-size: 150%;
  }
  .hidetitle {
    overflow: hidden;
    height: 170px;
  }

  #title {
    top: 85%;
  }

  #container {
    height: 450px;
    max-width: 800px;
    overflow: hidden;
    position: relative;
  }

  #C02 {
    height: 450px;
    position: absolute;
  }
  #C03 {
    height: 450px;
    position: absolute;
  }
  #C04 {
    height: 450px;
    position: absolute;
  }
  #C05 {
    height: 450px;
    position: absolute;
  }
  .air {
    height: 3rem;
    width: 100%;
  }
  .profilgrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .content_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
